relay/relay.bin
controllers/ryu/apps/*.pyc
controllers/librelay/librelay.so
pox/*
controllers/pox/ext/*.pyc
papers/*
controllers/ctrlr_handler/__pycache__
mininet/topos/*.pyc
mininet/topos/try/*
controllers/ryu/apps/try*
